<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>.net HN | Login</title>
	<link rel="stylesheet" type="text/css" href="content/news.css" />
</head>
<body>
	<div class="navbar">
		<img class="logo" src="../content/n.gif">
		Login
	</div>
	<div>
		<form method="POST">
		<table>
			<tr>
				<td>login</td>
				<td><input type="text" name="username" value="admin"></td>
			</tr>
			<tr>
				<td>pass</td>
				<td><input type="text" name="password" value="password"></td>
			</tr>
			<tr>
				<td><input type="submit" value="login"></td>
			</tr>
		</table>
		</form>
	</div>
</body>
</html>
